/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 33px;
  background-color: #fff;
}

p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.Books_index {
  margin-bottom: 50px;
}

.title {
  margin: 10px 0;
}

.body {
  margin-bottom: 15px;  
}

.title_col {
  width: 200px;
  padding: 10px 0;
}

.body_col {
  width: 400px;
  padding: 10px 0;
}

.link_col {
  width: 150px;
  padding: 10px 0;
}

.link_col > a:nth-child(-n+2) {
  margin-right: 5px;
}

.title_field, .body_field {
  display: block;
}

.create_book {
  padding: 1px 5px;
  text-align: center;
}

.show_body, .show_title {
  margin: 20px 0 30px 30px;
}